
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('user.index') }}">Usuarios</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('user.index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if not current_user.is_authenticated %}
      <li class="nav-item">
           <a class="nav-link" href="{{ url_for('auth.register') }}">Registrar</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
      </li>
      {% else %}
      <li class="nav-item">
          <a class="nav-link" href="{{ url_for('book.book_add') }}">Add Livros</a>
      </li>

            <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/admin/">Admin</a>
      </li>


    <li class="nav-item">
          <button type="button" class="btn btn-danger"><a class="nav-link" href="{{ url_for('auth.logout') }}">Sair</a></button>
    </li>
    </ul>
      {% endif %}
  </div>
</nav>